#deployment specific/user data, don't track this
.data/*
.db/*
#do not track docker-compose files to prevent accidental overwrites and secret leaks
docker-compose.yaml
#extentions/skins are installed automatically or manually and shouldn't be tracked by git
extensions
skins